<div class="card">
    <!-- insertring card to display the image-->
    <h1 class="text-center">Puppy-AE</h1>
    <img src="../assets/pilasaLogo.png" alt="card image cap ">
    <div class="card-body">
    </div>
</div>
