<div class="card">
    <!-- insertring card to display the image-->
    <img src="https://st3.depositphotos.com/2234485/32044/i/450/depositphotos_320442286-stock-illustration-404-error-page-not-found.jpg"
        class="card-img-top" alt="card image cap ">
    <div class="card-body">
    </div>
</div>