<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="card">
		<!-- insertring card to display the image-->
		<h1 class="text-center" , color="blue">
			<font color="red" style="text-decoration: underline;"> Puppy-AE <br>
			</font>
		</h1>

		<div class="articleLeftRight clearfix" style="padding:20px">
			<div class="article">
				<article>
					<h2 class="text-center"><b>
							<font color="grey" style="text-decoration: underline;">Terms & Conditions</font>
					</h2></b>
					<br>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is an
						spiritual platform for Christian community. through this we intent to connect believers with the
						priest and the church to follow Jesus. So priests can easily pass spiritual contents to devotees
						of God and it will help them to inhabit with Jesus.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This
						application is brought to you by <b>
							<font color="green">Ae Software Consultancy Solution</font>
						</b>. It’s a startup company focusing on development of mobile applications, web development,
						digital marketing and software consulting etc...</p>
					<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you
						continue to use this Application, you are agreeing to comply with and be bound by the following
						terms and conditions of use. If you disagree with any part of these terms and conditions, please
						do not use our Application.</p>

					<h3>
						<font color="grey"> The Services we provide</font>
					</h3>
					<ol type="a">
						<li><b>Find Churches:</b> You can see the different Christian churches registered in Pilasa and
							the content they share.</li>
						<li><b>Holy Mass Booking: </b> You can reserve the seat of the holy mass.</li>
						<li><b>Booking cart:</b> Check out the Holy Mass bookings you made through Pilasa.</li>
						<li><b>Newsfeed:</b> Newsfeed includes messages or content from your favorite churches.</li>
					</ol>
					<h3>
						<font color="grey"> Terms And Conditions & Privacy Policies</font>
					</h3>
					<ol type="a">
						<li>All rights reserved under developer.</li>
						<li>We reserve the right to remove the account without notice if we find any mistake.</li>
						<li>During registration we collect your name, email address, password, your parish, contact
							information (phone number), state and country.</li>
						<li>Email address is using to make your profile unique.</li>
						<li>The email id and password are the login credentials of your account.</li>
						<li>You must verify your email with the code sent by Pilasa before activating.</li>
						<li>We will use registered mail and phone number as contact information.</li>
						<li>We store the password in encrypted format. No one can decrypt data after insertion.</li>
						<li>You can reset your password using registered mail.</li>
						<li>We need GPS location permission to find churches near you.</li>
						<li>Display churches based on your state and country.</li>
						<li>You have to choose your parish. Because, Some churches only allow bookings for their
							parishioners.</li>
						<li>The report button is available to report against the church.</li>
						<li>There is no like and comment option for posts here.</li>
						<li>Only one booking per day will be allowed.</li>
						<li>You can only book the next day's holy mass.</li>
						<li>We collect the names and phone numbers of all participants at the time of booking and will
							share them with churches for viewing booking details.</li>
						<li>Holy Mass can be canceled after booking if you are unable to attend.</li>
						<li>Through this application users can make various payments and offerings to the church.</li>
						<li>Payment is made through the UPI app on your phone.</li>
						<li>We will confirm your payment after receiving confirmation from the UPI application that the
							payment was successful.</li>
						<li>In case of any failure between payments, first contact the relevant UPI application.</li>
						<li>You can easily access your successful payments from "My Bookings / Offerings".</li>
						<li>There is no cancellation for a successful payment.</li>
						<li> If you find any abuse, report it directly to <b>
								<font color="green">ae.pilasa@gmail.com</font>
							</b></li>
					</ol>
				</article>
			</div>
		</div>
	</div>
</body>

</html>